.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}
.container p {
  font-size: 20px;
}
.container p a {
  color: red;
}
.sunum {
  margin-top: 20px;
}
.sunum ul {
  margin-top: 10px;
}
.sunum li {
  margin: 5px;
  text-align: center;
  list-style: none;
}
